
body {
    font-family: "Sono", sans-serif;
    background-image: url('https://images4.alphacoders.com/134/1347180.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
  }

.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}
.pricing-plan{
    background-color: hsla(311, 100%, 50%, 0.733);
    text-align: center;
    padding: 20px;
    border-radius: 10%;
    border: 4px solid rgb(0, 0, 0);
}
.plan-title{
    font-weight: bold;
}
.plan-price{
    font-size: x-large;
    font-weight: bold;
}
.plan-features{
    list-style: none;
    padding: 0;
    
}
.plan-button{
    background-color: rgb(255, 145, 0);
    border: 2px solid orangered;
    color: white;
    border-radius: 10%;
    height: 25px;
}
@media (max-width: 1250px) {
    .pricing-container{
        flex-direction: column;
    }
}
